VITE_SETTLEMENT_RPC=http://localhost:8545
VITE_SETTLEMENT_REST=http://localhost:1317
VITE_SETTLEMENT_CHAIN_ID=ghostpay-1
VITE_SETTLEMENT_EVM_CHAIN_ID=4176544518788163
VITE_STREAM_SENDER_ADDRESS=0x372252244EAe0a59da17d1bbb940fF584cE6d2fD
VITE_PAYMENT_REGISTRY_ADDRESS=0xb5Bd8728Fc379b5EE0E3f69f3DE35dB286EE7aE0
VITE_STREAM_RECEIVER_ADDRESS=0x644cb302B34c4c02168Eb40F33bC7660F0254676
VITE_DEST_CHANNEL=channel-0
VITE_DEMO_SENDER_ADDRESS=
VITE_DEMO_RECEIVER_ADDRESS=
