VITE_SETTLEMENT_RPC=http://localhost:8545
VITE_SETTLEMENT_REST=http://localhost:1317
VITE_SETTLEMENT_CHAIN_ID=ghostpay-1
VITE_SETTLEMENT_EVM_CHAIN_ID=4176544518788163
VITE_STREAM_SENDER_ADDRESS=0x69C58360fa715717C5D72Eb21EB3fDe69231A4A7
VITE_PAYMENT_REGISTRY_ADDRESS=0xaE53c86bA6a0C90e607E571FEc1F22DC591ED634
VITE_STREAM_RECEIVER_ADDRESS=0x6890d4576c55410831CD3A01bf0e40F3C0B984A9
VITE_DEST_CHANNEL=channel-0
VITE_DEMO_SENDER_ADDRESS=
VITE_DEMO_RECEIVER_ADDRESS=
VITE_IBC_MODE=false
VITE_GHOST_WALLET=true
